<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="shoebalooWeb" lang="no">
<head>
    <title>Wing the Air</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="Content/style.css" type="text/css" media="all" />
    <!--[if lte IE 6]><style type="text/css" media="screen">.tabbed { height:420px; }</style><![endif]-->
    <script src="Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="Scripts/jquery.jcarousel.pack.js" type="text/javascript"></script>
    <script src="Scripts/jquery.slide.js" type="text/javascript"></script>
    <script src="Scripts/jquery-func.js" type="text/javascript"></script>
</head>
<body>
    <!-- Top -->
    <div id="top">
        <div class="shell">
            <!-- Header -->
            <div id="header">
                <!--<h1 id="logo"><a href="#">SHOEBALOO</a></h1>-->
                <div id="navigation">
                    <ul>
                        <li><a href="#">HJEM</a></li>
                        <li><a href="#">HJELP</a></li>
                        <li><a href="#">MIN SIDE</a></li>
                        <li><a href="#">HANDLEKURV</a></li>
                        <li><a href="#">KONTAKT OSS</a></li>
                        <li class="last" ng-controller="LoginController">
                            <a ng-hide="isLoggedIn" href="javascript:void(0)" ng-click="login">LOGIN</a>
                            <a ng-show="isLoggedIn" ng-click="logout">LOGOUT</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End Header -->
            <!-- Slider -->
            <!--<div id="slider">
                <div id="slider-holder">
                    <ul>
                        <li><a href="#"><img src="Content/images/slide1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="Content/images/slide2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="Content/images/slide1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="Content/images/slide2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="Content/images/slide1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="Content/images/slide2.jpg" alt="" /></a></li>
                    </ul>
                </div>
                <div id="slider-nav"> <a href="#" class="prev">Previous</a> <a href="#" class="next">Next</a> </div>
            </div>-->
            <!-- End Slider -->
        </div>
    </div>
    <!-- Top -->
    <!-- Main -->
    <div id="main">
        <div class="shell">
            <!-- Search, etc -->
            <div class="options">
                <div class="search">
                    <form action="#" method="post">
                        <span class="field">
                            <input type="text" class="blink" value="SØK" title="SEARCH" />
                        </span>
                        <input type="text" class="search-submit" value="GO" />
                    </form>
                </div>
                <span class="left"><a href="#">Avansert søk</a></span>
                <div class="right"> <span class="cart" ng-controller="ShoppingCartController"> <a href="#" class="cart-ico">&nbsp;</a> <strong> {{price | currency:"NOK: "}}</strong> </span> <span class="left more-links"> <a href="#">Handlekurv</a></span> </div>
            </div>
            <!-- End Search, etc -->
            <!-- Content -->
            <div id="content" ng-view>
                <!-- Tabs -->
                
                <!-- End Container -->
            </div>
            <!-- End Content -->
        </div>
    </div>
    <!-- End Main -->
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular/main.js"></script>
    <script src="Scripts/angular/shoppingCart.js"></script>
    <script src="Scripts/angular/factories.js"></script>
    <script src="Scripts/angular/root.js"></script>
    <script src="Scripts/angular/item.js"></script>
    <script src="Scripts/angular/login.js"></script>
</body>
</html>



