<div id="container">
    
    <div class="left">
        <h2>Handlekurv</h2>

        <table class="table">
            <tr>
                <th>Navn</th>
                <th>Antall</th>
                <th>Pris</th>
                <th>Sum</th>
                <th></th>
            </tr>
            <tr ng:repeat="item in items">
                <td>{{ item.product.title }}</td>
                <td>
                    {{ item.count }}
                    <a ng:click="add(item)">[+]</a>
                    <a ng:click="remove(item)">[-]</a>
                </td>
                <td>{{ item.product.price}},-</td>
                <td>{{ item.product.price * item.count | currency:'':0}},-</td>
                <td>
                    <a ng:click="removeItem(item)">[X]</a>
                </td>
            </tr>
            <tr>
                <td colspan="3"><strong>Totalt</strong></td>
                <td>{{ total | currency:'':0}},-</td>
            </tr>
        </table>
    </div>
    <a ng:click="checkOut()" class="cart">
        <span class="cart-ico">&nbsp;</span>
        <strong>
            Sjekk ut &rarr;
        </strong>
    </a>
</div>

