<div id="container" class="product-detail">
    <h2 class="title">{{product.title}}</h2>
    <img src="{{product.imageSource}}" alt="" />
    <p>{{product.description}}</p>
    <footer>
        <p class="price left">Pris: <strong>{{product.price}},-</strong></p>
        <span class="right">
            <a class="cart" ng-click="addToCart()">
                <span class="cart-ico">&nbsp;</span>
                <strong>
                    Legg til
                    &nbsp;&nbsp;
                    <input type="number" min="1" ng-model="count" ng-click="$event.stopPropagation()" />
                </strong>
            </a>
        </span>
    </footer>
</div>