<div class="tabs">
    <ul>
        <li><a href="javascript:void(0)" ng-class="{'active': filter == 'herre'}" ng-click="filter = 'herre';"><span>Herre</span></a></li>
        <li><a href="javascript:void(0)" ng-class="{'active': filter == 'dame'}" ng-click="filter = 'dame';"><span>Damer</span></a></li>
        <li><a href="javascript:void(0)" ng-class="{'active': filter == 'barn'}" ng-click="filter = 'barn';"><span>Barn</span></a></li>
    </ul>
</div>
<!-- Tabs -->
<!-- Container -->
<div id="container">
    <div class="tabbed">
        <!-- First Tab Content -->
        <div class="tab-content" style="display:block;">
            <div class="items">
                <div class="cl">&nbsp;</div>
                <ul>
                    <li ng-repeat="product in products | filter:filter">
                        <div class="image"><a href="/#/item?productId={{product.id}}"><img src="{{product.imageSource}}" width="125" /></a></div>
                        <p>{{product.title}}</p>
                        <p class="price">Pris: <strong>{{product.price}},-</strong></p>
                    </li>
                </ul>
                <div class="cl">&nbsp;</div>
            </div>
        </div>
        <!-- End First Tab Content -->
        <!-- Second Tab Content -->
        <div class="tab-content">
            <div class="items">
                <div class="cl">&nbsp;</div>
                <ul>
                    <li ng-repeat="product in products | filter:{category : 'dame'}">
                        <div class="image"><a href="/#/item?productId={{product.id}}"><img src="{{product.imageSource}}" width="125" /></a></div>
                        <p>{{product.title}}</p>
                        <p class="price">Pris: <strong>{{product.price}},-</strong></p>
                    </li>
                </ul>
                <div class="cl">&nbsp;</div>
            </div>
        </div>
        <!-- End Second Tab Content -->
        <!-- Third Tab Content -->
        <div class="tab-content">
            <div class="items">
                <div class="cl">&nbsp;</div>
                <ul>
                    <li ng-repeat="product in products | filter:{category : 'barn'}">
                        <div class="image"><a href="/#/item?productId={{product.id}}"><img src="{{product.imageSource}}" width="125" /></a></div>
                        <p>{{product.title}}</p>
                        <p class="price">Pris: <strong>{{product.price}},-</strong></p>
                    </li>
                </ul>
                <div class="cl">&nbsp;</div>
            </div>
        </div>
        <!-- End Third Tab Content -->
    </div>

</div>
